<% provide :title, t(".title") %>

<h1><%= t ".header" %></h1>
<p>
  <%= t ".help_rails" %>
  <%= link_to t(".link_help"), Settings.link.help %>
  <%= t ".help_app" %>
  <%= link_to Settings.link.book do %>
    <em><%= t ".link_rails" %></em>
    <%= t ".link_book" %>
  <% end %>
</p>
