<footer class="footer">
  <small>
    The <%= link_to t(".rails"), Settings.link_erb.main %>
    by <%= link_to t(".author"), Settings.link_erb.author %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.link_erb.main %></li>
    </ul>
  </nav>
</footer>
